.home-container {
  position: relative;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.home-body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  /* gap: 20px; */
}

.home-container {
  overflow-x: hidden;
}
.home-container,.home-body-container{
  height: 100%;
}

.content-container{
  height: 80%;
  background: url("../../assets/mobile.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color:var(--secondary-bg-color)
}