.card-item{
  margin:20px;
  width: 300px;
  transition: box-shadow 0.3s ease; 
}
.card-item:hover{
  box-shadow: 
    0 8px 16px rgba(0, 0, 0, 0.15), /* Deeper shadow on hover */
    0 4px 8px rgba(0, 0, 0, 0.12);  /* More pronounced secondary shadow */
}
.actions-card-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
