.cards-container-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  height: 100%;
  overflow: scroll;
  margin: 10px;
}

.card-item {
  width: 240px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.card-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
  text-align: center;
}

.card-img-container {
  margin: 12px 0;
}

.card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.MuiStack-root {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.MuiChip-root {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.MuiButtonBase-root {
  margin: 0 4px;
}
