@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

:root {
  --main-bg-color :#FDDF6F ;
  --secondary-bg-color :#6E9EB4 ;
  --main-light-text-color: #322D29;  
  --secondary-thumb-color:#f5f5f5
}

body{
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

html {
  scrollbar-width: thin; 
  scrollbar-color: var(--main-bg-color) var(--main-secondary-thumb-color) ; 
}

html,body,#root,.App{
  height: 100%;
}
::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-color );
  border-radius: 4px; 
}

::-webkit-scrollbar-track {
  background-color: var(--main-secondary-thumb-color); 
  border-radius: 4px; 
}
