.nav-container {
  width: 100%;
  height: 10%;
  background-color: var(--main-bg-color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title-container {
  font-family: "Sevillana", cursive;
  color: var(--main-dark-text-color);
  font-size: 40px;
  font-weight: 900;
  margin-inline-start: 40px;
}

.menu-icon-container {
  margin-inline-end: 40px;
  display: flex;
}